/* font importing */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('/~mliu102/assets/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: url('/~mliu102/assets/Roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('/~mliu102/assets/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	src: url('/~mliu102/assets/Roboto/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	src: url('/~mliu102/assets/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 400;
	src: url('/~mliu102/assets/Roboto_Condensed/RobotoCondensed-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src: url('/~mliu102/assets/Roboto_Condensed/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 700;
	src: url('/~mliu102/assets/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src: url('/~mliu102/assets/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 400;
	src: url('/~mliu102/assets/Roboto_Mono/RobotoMono-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 700;
	src: url('/~mliu102/assets/Roboto_Mono/RobotoMono-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 700;
	src: url('/~mliu102/assets/Roboto_Mono/RobotoMono-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src: url('/~mliu102/assets/Roboto_Slab/RobotoSlab-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Slab';
	font-style: italic;
	font-weight: 400;
	src: url('/~mliu102/assets/Roboto_Slab/RobotoSlab-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	src: url('/~mliu102/assets/Roboto_Slab/RobotoSlab-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Slab';
	font-style: italic;
	font-weight: 700;
	src: url('/~mliu102/assets/Roboto_Slab/RobotoSlab-BoldItalic.ttf') format('truetype');
}