@media screen and (max-width: 480px) {
	.subtitle {
		font-size: 18pt;
	}
	
    .columns {
		/* make 2 columns */
		display: flex;
		justify-content: space-between;
        /* change to vertical stacking if screen is small */
        flex-direction: column-reverse;
    }
}


.site {
	/* background across regular pages */
	background-color: #f4f0f8;
}

.link {
	/* make links purple */
	color: #693d94;
}

.subtitle {
	/* font */
	font-size: 24pt;
}

.siteIcon--medium {
	/* resize icon */
	width: 24px;
}

.navTab {
	/* pad links in navigation */
	padding-left: 12px;
	padding-right: 12px;
}

.navTab--home{
	/* site title is bigger */
	font-size: 14pt;
	
	/* icon and title also flexbox */
	display: flex;

	/* make it not look like a link */
	color: #000000;
	text-decoration: none;
}

.nav__siteIcon {
	padding-left: 12px;
	padding-right: 12px;
}

.me {
    /* resize */
    width: 200px;

    /* round it */
    border-radius: 50%;
    
    /* align top with text */
    margin-top: 48px;
}

.columns {
    /* make 2 columns */
    display: flex;
    justify-content: space-between;
    flex-direction: row;

	/* space in between columns */
	column-gap: 24px;
}

.project {
	/* dashed border */
	border: dashed 2px #693d94;
	border-radius: 10px;

	/* padding and margin */
	padding: 24px;
	margin-top: 12px;
	margin-bottom: 24px;

	/* make it the size of the main part */
	max-width: inherit;
}

.projectTitle {
	/* remove spacing */
	margin: 0px;
}

.projectImg {
	/* keep it half the size of the section */
	max-width: 50%;
}

.projectLinks {
	/* add spacing */
	margin: 8px 0px;
}

.projectTools{
	/* make it small */
	font-size: 10pt;
	font-style: italic;

	/* closer to title than description */
	margin-top: 4px;
}