body {
	/* background across all pages */
	background-color: #f4f0f8;

	/* font across all pages */
	font-family: "Roboto Mono", monospace;
	font-weight: 400;
	font-style: normal;

	margin: 0;
}

main {
	/* margins, center align */
	width: 60%;
	margin: 0px auto;

	padding: 48px;

	/* take up the entire page so footer stays at the bottom */
	min-height: 80%;
}

a {
	/* make links purple */
	color: #693d94;
}

h1 {
	/* font */
	font-family: "Roboto Slab", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 42pt;
}

h2 {
	/* font */
	font-size: 18pt;
}

.subtitle {
	/* font */
	font-size: 24pt;
}

p {
	/* font */
	font-size: 12pt;
}

@media screen and (max-width: 480px) {
    main {
        /* make it bigger on small screens */
        width: 80%;
        padding: 18px;
        /* allow word wrap? */
        word-wrap: break-word;
    }
    h1 {
        font-size: 28pt;
    }
    h2 {
        font-size: 14pt;
    }
    .subtitle {
        font-size: 18pt;
    }
    
}

/* header - navigation bar */

#navigation {
	/* leave space around content */
	padding: 16px;
	margin: 0;

	/* dividing border */
	border-bottom: 2px solid #7d7585;

	display: flex;
}

#nav-left {
	/* keep links to the very right */
	flex-grow: 1;
	
	/* site title is bigger */
	font-size: 14pt;
	
	/* icon and title also flexbox */
	display: flex;
}

#nav-right {
	/* links also flexbox */
	display: flex;
}

#nav-icon {
	/* pad and resize icon */
	width: 24px;
	padding-left: 12px;
	padding-right: 12px;
}

#nav-right span {
	/* pad links in navigation */
	padding-left: 12px;
	padding-right: 12px;
}

/* footer - copyright bar */

#copyright {
    /* border */
    border-top: 2px solid #7d7585;
    
    /* spacing and centre */
    margin: 0;
    padding: 12px;
    text-align: center;
}

#copyright p {
	/* small text */
	font-size: 9pt;
}

#me {
    /* resize */
    width: 200px;

    /* round it */
    border-radius: 50%;
    
    /* align top with text */
    margin-top: 48px;
}

#cols {
    /* make 2 columns */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (max-width: 480px) {
    #cols {
        /* change to vertical stacking if screen is small */
        flex-direction: column-reverse;
    }

}