---
{
    "menu": [
        {"slug": "", "name": "Home"},
        {"slug": "coding", "name": "Coding"},
        {"slug": "design", "name": "Design"},
        {"slug": "research", "name": "Research"},
        {"slug": "contact", "name": "Contact"}
    ]
}
---

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="/~mliu102/assets/fontawesome/css/fontawesome.css"/>
    <link rel="stylesheet" href="/~mliu102/assets/fontawesome/css/brands.css"/>
    <link rel="stylesheet" href="/~mliu102/assets/fontawesome/css/solid.css"/>
    <link rel="icon" type="image/x-icon" href="/~mliu102/images/favicon_02.ico"/>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <link rel="stylesheet" href="/~mliu102/styles/fonts.css"/>
    <link rel="stylesheet" href="/~mliu102/styles/global.css"/>

    {% if '/i/' in page.url %}
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/~mliu102/styles/style_i.css"/>
    {% else %}
        <title>{{ title }} | Mona Liu</title>
        <link rel="stylesheet" href="/~mliu102/styles/style.css"/>
    {% endif %}
</head>

<body class="site">
    {% include "../partials/navbar.njk" %}
    <main class="main">
        {{ content | safe }}
    </main>
    {% include "../partials/footer.njk" %}
    <script>
        $(".nav__hamburger").on("click", function () {
            $(".nav__mobileMenu").slideToggle();
        });
        $(".sectionTitle").on("click", function () {
            $(this).next().slideToggle('slow')
        });
    </script>
</body>