<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/~mliu102/styles/style.css"/>
    <link rel="stylesheet" href="/~mliu102/assets/fontawesome/css/fontawesome.css"/>
    <link rel="stylesheet" href="/~mliu102/assets/fontawesome/css/brands.css"/>
    <link rel="stylesheet" href="/~mliu102/assets/fontawesome/css/solid.css"/>
    <link rel="icon" type="image/x-icon" href="/~mliu102/images/uploads/favicon_02.ico"/>
    <title>{{ title }} | Mona Liu</title>
</head>
<body>
    {% include "../partials/navbar.njk" %}
    <main>
        <h1>{{ title }}</h1>
        {{ content | safe }}
    </main>
    {% include "../partials/footer.njk" %}
</body>