<head>
    {% include "../partials/funhead.njk" %}
</head>
<body>
    {% include "../partials/navbar.njk" %}
    <main>
        <h1>{{ title }}</h1>
        {{ content | safe }}
    </main>
    {% include "../partials/footer.njk" %}
</body>