<head>
    {% include "../partials/head.njk" %}
</head>
<body class="site">
    {% include "../partials/navbar.njk" %}
    <main class="main">
        {{ content | safe }}
    </main>
    {% include "../partials/footer.njk" %}
</body>