<head>
    {% include "../partials/head.njk" %}
    <link rel="stylesheet" href="/~mliu102/styles/index.css"/>
</head>
<body>
    {% include "../partials/navbar.njk" %}
    <main>
        {{ content | safe }}
    </main>
    {% include "../partials/footer.njk" %}
</body>