<head>
    {% include "../partials/head.njk" %}
</head>
<body class="site">
    {% if "/i/" in page.url %}
        {% include "../partials/backbar.njk" %}
    {% else %}
        {% include "../partials/navbar.njk" %}
    {% endif %}
    <main class="main">
        {{ content | safe }}
    </main>
    {% include "../partials/footer.njk" %}
</body>