#me {
    /* resize */
    width: 200px;

    /* round it */
    border-radius: 50%;
    
    /* align top with text */
    margin-top: 48px;
}

#cols {
    /* make 2 columns */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (max-width: 480px) {
    #cols {
        /* change to vertical stacking if screen is small */
        flex-direction: column-reverse;
    }

}
