/* font importing */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: url('../assets/Roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('../assets/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	src: url('../assets/Roboto/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 400;
	src: url('../assets/Roboto_Condensed/RobotoCondensed-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src: url('../assets/Roboto_Condensed/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 700;
	src: url('../assets/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 400;
	src: url('../assets/Roboto_Mono/RobotoMono-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 700;
	src: url('../assets/Roboto_Mono/RobotoMono-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 700;
	src: url('../assets/Roboto_Mono/RobotoMono-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/Roboto_Slab/RobotoSlab-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Slab';
	font-style: italic;
	font-weight: 400;
	src: url('../assets/Roboto_Slab/RobotoSlab-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	src: url('../assets/Roboto_Slab/RobotoSlab-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Slab';
	font-style: italic;
	font-weight: 700;
	src: url('../assets/Roboto_Slab/RobotoSlab-BoldItalic.ttf') format('truetype');
}

body {
	/* background across all pages */
	background-color: #f4f0f8;

	/* font across all pages */
	font-family: "Roboto Mono", monospace;
	font-weight: 400;
	font-style: normal;

	margin: 0;
}

main {
	/* margins, center align */
	width: 60%;
	margin: 0px auto;

	padding: 48px;
}

a {
	/* make links purple */
	color: #693d94;
}

h1 {
	/* font */
	font-family: "Roboto Slab", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 42pt;
}

h2 {
	/* font */
	font-size: 18pt;
}

.subtitle {
	/* font */
	font-size: 24pt;
}

p {
	/* font */
	font-size: 12pt;
}

@media screen and (max-width: 480px) {
    main {
        /* make it bigger on small screens */
        width: 80%;
        padding: 18px;
        /* allow word wrap? */
        word-wrap: break-word;
    }
    h1 {
        font-size: 28pt;
    }
    h2 {
        font-size: 14pt;
    }
    .subtitle {
        font-size: 18pt;
    }
    
}
