.site {
	/* background across all pages */
	background-color: #f4f0f8;

	/* font across all pages */
	font-family: "Roboto Mono", monospace;
	font-weight: 400;
	font-style: normal;

	margin: 0;
}

.main {
	/* margins, center align */
	width: 60%;
	margin: 0px auto;

	padding: 48px;

	/* take up the entire page so footer stays at the bottom */
	min-height: 80%;
}

.link {
	/* make links purple */
	color: #693d94;
}

.title {
	/* font */
	font-family: "Roboto Slab", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 42pt;
}

.sectionTitle {
	/* font */
	font-size: 18pt;
}

.subtitle {
	/* font */
	font-size: 24pt;
}

.sectionBody {
	/* font */
	font-size: 12pt;
}

@media screen and (max-width: 480px) {
    .main {
        /* make it bigger on small screens */
        width: 80%;
        padding: 18px;
        /* allow word wrap? */
        word-wrap: break-word;
    }
    .title {
        font-size: 28pt;
    }
    .sectionTitle {
        font-size: 14pt;
    }
    .subtitle {
        font-size: 18pt;
    }
    
}

.nav {
	/* leave space around content */
	padding: 16px;
	margin: 0;

	/* dividing border */
	border-bottom: 2px solid #7d7585;

	display: flex;
}

.nav__left {
	/* keep links to the very right */
	flex-grow: 1;
}

.nav__right {
	/* links also flexbox */
	display: flex;
}

.siteIcon--medium {
	/* resize icon */
	width: 24px;
}

.navTab {
	/* pad links in navigation */
	padding-left: 12px;
	padding-right: 12px;
}

.navTab--home{
	/* site title is bigger */
	font-size: 14pt;
	
	/* icon and title also flexbox */
	display: flex;

	/* make it not look like a link */
	color: #000000;
	text-decoration: none;
}

.nav__siteIcon {
	padding-left: 12px;
	padding-right: 12px;
}

.footer {
    /* border */
    border-top: 2px solid #7d7585;
    
    /* spacing and centre */
    margin: 0;
    padding: 12px;
    text-align: center;
}

.copyright {
	/* small text */
	font-size: 9pt;
}

.me {
    /* resize */
    width: 200px;

    /* round it */
    border-radius: 50%;
    
    /* align top with text */
    margin-top: 48px;
}

.columns {
    /* make 2 columns */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (max-width: 480px) {
    .columns {
		/* make 2 columns */
		display: flex;
		justify-content: space-between;
        /* change to vertical stacking if screen is small */
        flex-direction: column-reverse;
    }
}

.construction {
	/* border */
	border: solid #e6c317 2px;
	border-radius: 10px;

	/* background */
	background-color: #eee3ae;

	/* flex display */
	display: flex;
	flex-direction: row;
	align-items: center;
	
	/* make it only be as wide as it needs */
	padding: 8px;
	max-width: fit-content;
}

.construction__icon {
	/* make it big */
	font-size: 48px;

	/* spacing */
	margin: 12px;
}

.construction__text {
	/* spacing */
	margin: 12px;
}