.site {
    /* background and text across internal pages */
    background-color: #0d0d0d;
    color: #dedede;
}

.link {
	/* make links light purple */
	color: #b390d7;
}

.link--big {
    font-size: 16pt;
}

.linkList {
    display: none;
}

.linkList__item {
    line-height: 1.5em;
}

.sectionTitle {
	/* font */
	font-family: "Roboto Slab", serif;

    /* change pointer to indicate accordion */
    cursor: pointer;
    text-decoration: underline;
}

.navTab {
    margin-left: 24px;
}

.links__item {
    /* make list item icon and text aligned */
    display: flex;
    align-items: center;

    /* space out a bit */
    padding: 2px 0px;
}