---
title: links
layout: layouts/base.njk
---

<ul class="links fa-ul">
    <li class="links__item">
        <span class="fa-li links__icon">
            <i class="fa-solid fa-chevron-right"></i>
        </span>
        <a class="link link--big" href="/~mliu102/i/bookmarks">
            useful bookmarks
        </a>
    </li>
    <li class="links__item">
        <span class="fa-li links__icon">
            <i class="fa-solid fa-chevron-right"></i>
        </span>
        <a class="link link--big" href="/~mliu102/i/software">
            software bookmarks
        </a>
    </li>
    <li class="links__item">
        <span class="fa-li links__icon">
            <i class="fa-solid fa-chevron-right"></i>
        </span>
        <a class="link link--big" href="/~mliu102/i/school">
            school bookmarks
        </a>
    </li>
    <li class="links__item">
        <span class="fa-li links__icon">
            <i class="fa-solid fa-chevron-right"></i>
        </span>
        <a class="link link--big" href="/~mliu102/i/wishlist">
            wishlist
        </a>
    </li>
</ul>