<header class="nav">
    <div class="nav__left">
        <span class="navTab">
            <a class="navTab__link link" href="/~mliu102/i/">
                <i class="fa-solid fa-home"></i>
            </a>
        </span>
    </div>
</header>