<div class="construction">
    <div class="construction__icon">
        <i class="fa-solid fa-road-barrier"></i>
    </div>
    <div class="construction__text">
        <p>Sorry, still under construction!</p>
    </div>
</div>