<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="/~mliu102/styles/funfonts.css"/>
<link rel="stylesheet" href="/~mliu102/styles/funstyle.css"/>
<link rel="stylesheet" href="/~mliu102/assets/fontawesome/css/fontawesome.css"/>
<link rel="stylesheet" href="/~mliu102/assets/fontawesome/css/brands.css"/>
<link rel="stylesheet" href="/~mliu102/assets/fontawesome/css/solid.css"/>
<title>{{ title }} :)</title>