<div class="section">
    <h2 class="sectionTitle" onclick="$( this ).next().slideToggle('slow')">{{ list.section }}</h2>
    <ul class="linkList">
        {% for link in list.bookmarks %}
            <li class="linkList__item">
                <a class="linkList__link link" href="{{ link.url }}">{{ link.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>