<header class="nav">
    <div class="nav__left">
        <a class="navTab--home" href="/~mliu102/">
            <span class="nav__siteIcon">
                <img class="siteIcon--medium" src="/~mliu102/images/favicon.ico" />
            </span>
            <span class="nav__siteTitle">
                {{ site.title }}
            </span>
        </a>
    </div>
    <div class="nav__right">
        <span class="navTab">
            <a class="navTab__link link" href="/~mliu102/">Home</a>
        </span>
        <span class="navTab">
            <a class="navTab__link link" href="/~mliu102/coding">Coding</a>
        </span>
        <span class="navTab">
            <a class="navTab__link link" href="/~mliu102/design">Design</a>
        </span>
        <span class="navTab">
            <a class="navTab__link link" href="/~mliu102/research">Research</a>
        </span>
        <span class="navTab">
            <a class="navTab__link link" href="/~mliu102/about">About</a>
        </span>
        <span class="navTab">
            <a class="navTab__link link" href="/~mliu102/contact">Contact</a>
        </span>
    </div>
</header>