<div style="display:flex">
    <div>{{ site.title }}</div>
    <div>
        <a href="~mliu102/">
            Home
        </a>
        <a href="~mliu102/projects">
            Projects
        </a>
    </div>
</div>