<header id="navigation">
    <div id="nav-left">
        <span>
            <img id="nav-icon" src="/~mliu102/images/favicon.ico" />
        </span>
        <span>
            {{ site.title }}
        </span>
    </div>
    <div id="nav-right">
        <span>
        <a href="/~mliu102/">Home</a>
        </span>
        <span>
        <a href="/~mliu102/projects">Projects</a>
        </span>
        <span>
        <a href="/~mliu102/landing">Bookmarks</a>
        </span>
    </div>
</header>